<!DOCTYPE html>

<html>
    <head>
        <title>Summarizer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class="bg text-center">
            <h1>A &nbsp; R &nbsp; T &nbsp; I &nbsp; C &nbsp; L &nbsp; E  &nbsp; . &nbsp; S &nbsp; U &nbsp; M &nbsp; M &nbsp; A &nbsp; R &nbsp; I &nbsp; Z &nbsp; E &nbsp; R</h1>
            <p>Get Summary of any Article</p><br><br>
            <div class="form">
                <form action="/" method="POST">
                    <input class="InputStyle" placeholder="Enter URL" type="text" name="URL" id="url"><br><br>
                    <input type="submit" value="Submit"><br><br><br>
                </form>
            </div>
            <div>
                {% if text %}
                    <h2>Summary:</h2>
                    <p class="Summary">{{ text }}</p>
                {% endif %}
                </div>
        </div>
    </body>
</html>