<!DOCTYPE html>

<html>
    <head>
        <title>Summarizer</title>
    </head>

    <body>
        <div class="form">
            <form action="/" method="POST">
                <h3>{{ form.url.label }}</h3>
                {{ form.url(size=64) }}<br><br>
                <h3>{{ form.submit() }}</h3><br><br>
            </form>
        </div>
        <div>
            {% if text %}
                <h3>Summary:</h3>
                <p>{{ text }}</p>
            {% endif %}
            </div>
    </body>
</html>